
<h1 mat-dialog-title>Commands</h1>
<div mat-dialog-content>
  Control Robert the Robot while he moves around a 5x5 grid! Begin by using PLACE X,Y,F
  <br>
  <br>
  <strong>PLACE X,Y,F:</strong> will put Robert on the table in position X,Y and facing NORTH, SOUTH, EAST or WEST
  <br>
  <strong>MOVE:</strong> will move Robert one unit forward in the direction it is currently facing
  <br>
  <strong>LEFT and RIGHT:</strong> will rotate the robot 90 degrees in the specified direction without changing the position of the robot
  <br>
  <strong>REPORT:</strong> will announce the X,Y and F of the robot
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close] class="mdl-button mdl-js-button mdl-button--primary">GOT IT</button>
</div>