
.robot-image{
    height: 200px;
    display: block;
    margin: 0 auto;
    padding-bottom: 25px;
}

.full-width {
    width: 100%;
}

.default-card{
    min-height: 80px;
}

.card-space{
    margin-top: 20px;
}

.list-icon{
    font-size: 20px;
    vertical-align: bottom;
}

.short-list{
    padding: 10px 10px;
    min-height:20px;
    height: 25px; 
}