<div class="full-width">
    <img src="/assets/robot.png" class="robot-image">
  </div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--4-col">


    
    
    <div class="mdl-card mdl-shadow--2dp full-width default-card">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Command the robot</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield full-width">
          <input class="mdl-textfield__input" type="text" id="sample1" [(ngModel)]="textCommand">
          <label class="mdl-textfield__label" for="sample1">Comand...</label>
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="executeCommand(textCommand)">
          GO
        </a>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" (click)="openDialog()">
          <i class="material-icons">help_outline</i>
        </button>
      </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp full-width card-space default-card">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Run multiple commands</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".txt">
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="runFileCommands()">
            GO
          </a>
        </div>
      </div>

  </div>
    <!-- Current position? -->

    
  <div class="mdl-cell mdl-cell--4-col">

    <div class="mdl-card mdl-shadow--2dp full-width default-card">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Output</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <ul class="mdl-list">
                <li class="mdl-list__item" *ngFor="let entry of output">
                  <span class="mdl-list__item-primary-content">
                    {{entry}}
                  </span>
                </li>
            </ul>
        </div>
        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" (click)="clearOutput()">
                <i class="material-icons">clear</i>
            </button>
          </div>
      </div>

      

    <div class="mdl-card mdl-shadow--2dp full-width card-space default-card" >
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Executed commands (recent first)</h2>
      </div>
      <div class="mdl-card__supporting-text">
          <ul class="mdl-list">
              <li class="mdl-list__item short-list" *ngFor="let command of executed_command_history.slice().reverse()">
                <span class="mdl-list__item-primary-content">
                  <span *ngIf="command.valid">
                      <i class="material-icons list-icon" style="color: green">done</i>
                      {{command.commandType}} 
                      <span *ngIf="command.commandType == 'PLACE'">
                      &nbsp;{{ command.x_coord }},{{ command.y_coord }},{{Direction[command.direction]}}
                      </span>
                  </span>
                  <span *ngIf="!command.valid">
                      <i class="material-icons list-icon" style="color: red">error_outline</i>
                      {{command.input}} 
                      
                  </span>
                </span>
              </li>
          </ul>
      </div>
      <div class="mdl-card__menu">
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" (click)="clearExecutedCommands()">
              <i class="material-icons">clear</i>
          </button>
        </div>
    </div>

    

  </div>
  <div class="mdl-cell mdl-cell--2-col"></div>
</div>